.image_small {
    width: 30px;
}

.button {
    /* Common button styles */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/*from chatGPT*/
#loginButton {
    /* Specific styles for login button */
    background-color: #4CAF50; /* Green */
    color: white;
    position: fixed;
    top: 20px; /* Adjust top distance as needed */
    right: 20px; /* Adjust right distance as needed */
}
