<!DOCTYPE html>
<html>
<head>
    <title>Attans Banan Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <form action="/login" method="GET">
        <button type="submit" id="loginButton" class="button">Login</button>
    </form>
    
    <h2> Welcome Home! </h2>
    <p> Hello and welcome to the digital circus, I'm your host Chain and this is Bubbles </p>

    
    

    <form method="post">
        <button type="submit">Wake Up</button>
    </form>

    
</body>
</html>