.image_small {
    width: 50px;
}


.header {
    height: 100px;
    width: 100%;
}

.delete-button {
    background-color: #ff9999;
    padding: 0px;
    border-radius: 20%;
    border: 2px solid #000000;
    margin-left: 20%;
}

.product-view {
    float: right;   /* Position the element to the right */
    width: 40%;
/*
    border: 3px solid #73AD21;
    padding: 10px;
*/
}

.profile-button {
    margin-left: 0;
}

.profile-button img {
    height: 90px;
    width: 90px;
}

.plus-button {
    position: absolute;
    right: 0;
}

.plus-button img{
    height: 90px;
    width: 90px;
}

.product-wrapper {
    width: 80%;
    margin-left: 10%; 
}

.main-product-form button {
    height: 200px;
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    align-items: left;
}

.main-image-space {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
}

.orderInfo-info-space {
    margin-left: 10%;     /* this was the original */

    height: 150px;
    width: 60%;

    border-style: groove;
    border-radius: 10px;
    border-color:#ff9999;

    margin-top: 5%;
    align-items: left;
}

.main-pro-img {
    border-radius: 12px;
    width: 100%;
    height: 90%;
}

.main-name {
    font-size: 30px;
    margin-left: 5px;
    text-align: left;
}

.main-info {
    overflow: hidden;
    height: 100px;
    margin-left: 5px;
    text-align: left;
}

.main-price {
    margin-left: 5px;
    font-size: 20px;
    text-align: left;
}

.main-pro-      /* Huuh?? */

.pro-qty {
    color: red;
    margin-left: 5px;
}

.pro-price {
    color: red;
    margin-left: 5px;
}

.orderHistory-ID {
    margin-left: 5px;
    font-size: 20px;
    text-align: left;
}

.orderHistory-qty {
    margin-left: 5px;
    font-size: 15px;
    text-align: left;
}

.orderHistory-price {
    margin-left: 5px;
    font-size: 15px;
    text-align: left;
}

.orderHistory-customer {
    margin-left: 5px;
    font-size: 15px;
    text-align: left;
}


/* Comment space */

.comment-space{
    margin-left: 20%;
    width: 60%;
}

.comment{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.comment-acc {
    font-size: 20px;
    display: inline-block;
}

.comment-date {
    display: inline-block;
    font-size: 10px;
    color: grey;
}

.comment-rating {
    width: 80%;
}

.comment-content {
    display: inline-block;
    color: black;
    overflow-y: auto;
    width: 80%;
    height: 60px;
}

/* Comment space end */

/* Product start */

.add-cart-button {
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
}

.pro-img-space {
    width: 500px;
    height: 500px;
    max-width: 50%;
}
.pro-img-space img {
    width: 100%;
}

/* Product end */