{% extends 'AdmBase.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class = "header">
    <!--    Back Button     -->
    <form action="{{ url_for('admin.admin') }}" method="POST">
        <br> <button> Back </button>
    </form>
</div>

<div class = product-wrapper>
    {% for order in orders %}
    <form class = "main-product-form" name = "mainProduct" method = "POST" action="">
        <button class = "main-product" name = "pro_ID">
            <div class = "main-info-space">
                <div class = "orderHistory-ID">
                    <h2>Order ID: {{ order.ord_ID }}</h2>
                </div>
                <div class = "orderHistory-qty">
                    <h3> <b>Total Quantity: </b> {{ order.qty }} </h1>
                </div>
                <div class ="orderHistory-price">
                    <h3> <b>Total price: </b> $ {{ order.price }} </h1>
                </div>
                <div class ="orderHistory-customer">
                    <h3> <b>Customer email: </b> {{ order.acc }} </h1>
                </div>

            </div>
        </button>
    </form>
    
    {% endfor %}

</div>

{% endblock %}

{% block footer %}
{% endblock %}