.image_small {
    width: 30px;
}

h3 {
    font-family: Tahoma, sans-serif;
}

#productWrapper {
    width: 80%;
    margin-left: 10%; 
}

.main-product-form button {
    height: 200px;
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    align-items: left;
}

.main-image-space {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
}

.main-image-space img {
    width: 100%;
    height: 100%;
}

.main-info-space {
    margin-left: 0;
}


.main-pro-img {
    border-radius: 12px;
    width: 100%;
    height: 90%;
}

.main-name {
    font-size: 30px;
    margin-left: 5px;
    text-align: left;
}

.main-info {
    overflow: hidden;
    height: 100px;
    margin-left: 5px;
    text-align: left;
}

.main-price {
    margin-left: 5px;
    font-size: 20px;
    text-align: left;
}

.header {
    height: 100px;
    width: 100%;
}

.profile-button {
    margin-left: 0;
}

.profile-button img {
    height: 90px;
    width: 90px;
}

/* Cart start */

.cart-button {
    position: absolute;
    right: 0;
}

.cart-button img {
    height: 90px;
    width: 90px;
}

.cart-img {
    height: 100px;
    width: 100px;
}

.cart-item {
    border-bottom: 2px solid darkslategray;
    padding: 5px;
    display: flex;
    align-items: left;
}

.cart-input-space {
    margin-top: 10px;
    align-items: horizontal;
    display: flex;
    width: 100%;
}

.cart-pro-price {
    text-align: right;
    left: 0px;
    position: relative;
    width: 100%;
}

.qty-form {
    text-align: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.cart-qty {
    text-align: center;
    width: 30px;
    height: 30px;
}

.cart-noimg-space {
    width: 100%;
}

.cart-total {
    width: 80%;
    margin-left: 10%; 
    align-items: horizontal;
    display: flex;
}

.cart-total .title{
    font-size: 20px;
    margin-left: 10px;
}

.cart-total .sum {
    text-align: right;
    font-size: 20px;
    width: 100%;
}

.order-wrapper {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}

.order-wrapper button {
    float: right;
    height: 30px;
    width: 100px;
    background-color: rgb(55, 45, 255);
    color: white;
    border: none;
}

/* Cart end */



/* Comments start */


.comment-space{
    margin-left: 20%;
    width: 60%;
}

.comment{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.comment-acc {
    font-family: Garamond, serif;
    font-size: 20px;
    display: inline-block;
}

.comment-date {
    display: inline-block;
    font-size: 10px;
    color: grey;
}

.comment-rating {
    width: 80%;
}

.comment-content {
    display: inline-block;
    color: black;
    overflow-y: auto;
    width: 80%;
    height: 60px;
}

/* Adding/deleting comments */

.submit-review {
    height: 30px;
    width: 130px;
    background-color: rgb(66, 56, 134);
    color: white;
    border: none;
}

.add-rating {
    width: 30px;
}

.add-content{
    width: 100%;
    height: 100px;
    resize: none;
    display: inline-block;
}

.delete-comment-space {
    display: inline-block;
    width: 19%;    /* 20% overflows because 80 + 20 > 100????? */
}

.comment-delete {
    height: 40px;
    width: 40px;
    margin-right: 0px;
    float: right;
}

.comment-delete img{
    height: 100%;
    width: 100%;
}


/* Adding/deleting comments end */

/* Comments end */


/* Product start */

.add-cart-button {
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
}

.pro-img-space {
    width: 500px;
    height: 500px;
    max-width: 50%;
    display: inline-block;
}

.pro-img-space img {
    width: 100%;
}

.product-view {
    vertical-align: top;
    display: inline-block;   /* Position the element to the right */
    width: 40%;
    margin-top: 0px;
}

.pro-price {
    font-size: 30px;
}

/* Product end */