.image_small {
    width: 30px;
}

.product-wrapper {
    width: 80%;
    margin-left: 10%; 
}

.main-product-form button {
    height: 200px;
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    align-items: left;
}

.main-image-space {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-info-space {
    align-items: left;
}


.main-pro-img {
    border-radius: 12px;
    width: 100%;
    height: 90%;
}

.main-pro-name {
    font-size: 30px;
    margin-left: 5px;
}

.pro-qty {
    color: red;
    margin-left: 5px;
}

.pro-price {
    color: red;
    margin-left: 5px;
}

